
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>A linguagem de template do Django &mdash; Django v1.3.1 documentation</title>
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '1.3.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Django v1.3.1 documentation" href="../index.html" />
    <link rel="up" title="Usando o Django" href="index.html" />
    <link rel="next" title="Class-based generic views" href="class-based-views.html" />
    <link rel="prev" title="Form Media" href="forms/media.html" />
 
<script type="text/javascript" src="../templatebuiltins.js"></script>
<script type="text/javascript">
(function($) {
    if (!django_template_builtins) {
       // templatebuiltins.js missing, do nothing.
       return;
    }
    $(document).ready(function() {
        // Hyperlink Django template tags and filters
        var base = "../ref/templates/builtins.html";
        if (base == "#") {
            // Special case for builtins.html itself
            base = "";
        }
        // Tags are keywords, class '.k'
        $("div.highlight\\-html\\+django span.k").each(function(i, elem) {
             var tagname = $(elem).text();
             if ($.inArray(tagname, django_template_builtins.ttags) != -1) {
                 var fragment = tagname.replace(/_/, '-');
                 $(elem).html("<a href='" + base + "#" + fragment + "'>" + tagname + "</a>");
             }
        });
        // Filters are functions, class '.nf'
        $("div.highlight\\-html\\+django span.nf").each(function(i, elem) {
             var filtername = $(elem).text();
             if ($.inArray(filtername, django_template_builtins.tfilters) != -1) {
                 var fragment = filtername.replace(/_/, '-');
                 $(elem).html("<a href='" + base + "#" + fragment + "'>" + filtername + "</a>");
             }
        });
    });
})(jQuery);
</script>

  </head>
  <body>

    <div class="document">
  <div id="custom-doc" class="yui-t6">
    <div id="hd">
      <h1><a href="../index.html">Django v1.3.1 documentation</a></h1>
      <div id="global-nav">
        <a title="Home page" href="../index.html">Home</a>  |
        <a title="Tabela de conteúdos" href="../contents.html">Tabela de conteúdos</a>  |
        <a title="Índice Global" href="../genindex.html">Índice</a>  |
        <a title="Busca" href="../py-modindex.html">Módulos</a>
      </div>
      <div class="nav">
    &laquo; <a href="forms/media.html" title="Form Media">previous</a> 
     |
    <a href="index.html" title="Usando o Django" accesskey="U">up</a>
   |
    <a href="class-based-views.html" title="Class-based generic views">next</a> &raquo;</div>
    </div>
    
    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">
          <div class="yui-g" id="topics-templates">
            
  <div class="section" id="s-a-linguagem-de-template-do-django">
<span id="a-linguagem-de-template-do-django"></span><h1>A linguagem de template do Django<a class="headerlink" href="#a-linguagem-de-template-do-django" title="Permalink to this headline">¶</a></h1>
<div class="admonition-sobre-este-documento admonition ">
<p class="first admonition-title">Sobre este documento</p>
<p class="last">Este documento explana a sintaxe da linguagem do sistema de template do
Django. Se você estiver procurando por uma perspectiva mais técnica sobre
como ela funciona e como extendê-la, veja <a class="reference internal" href="../ref/templates/api.html"><em>A linguagem de template do Django: Para programadores Python</em></a>.</p>
</div>
<p>A linguagem de template do Django é projetada para atingir um balanço entre
poder e facilidade. Ela é projetada para ser confortável para aqueles que
acostumados a trabalhar com HTML. Se você tem qualquer exposição as outras
linguagens de template baseadas em texto, como o <a class="reference external" href="http://smarty.php.net/">Smarty</a> ou <a class="reference external" href="http://www.cheetahtemplate.org/">CheetahTemplate</a>,
você deverá sentir-se em casa com os templates do Django.</p>
<div class="admonition-filosofia admonition ">
<p class="first admonition-title">Filosofia</p>
<p>Se você possui experiência prévea em programação, ou se você utilizou
linguagens como PHP que combina código de programação diretamente no HTML,
você deve ter em mente que o sistema de template de Django não é
simplesmente Python embutido no HTML. Isso ocorre por definição: o sistema
de template é usado para expressar apresentação, não lógica de programação.</p>
<p class="last">O sistema de template do Django fornece tags que funcionam de forma similar
a algumas construções em programação &#8211; uma tag <a class="reference internal" href="../ref/templates/builtins.html#std:templatetag-if"><tt class="xref std std-ttag docutils literal"><span class="pre">if</span></tt></a> para testes
boleanos, uma tag <a class="reference internal" href="../ref/templates/builtins.html#std:templatetag-for"><tt class="xref std std-ttag docutils literal"><span class="pre">for</span></tt></a> para laços, etc. &#8211; mas estes não são
simplesmente executados como o código Python correspondente, e o sistema de
templates não executará arbitrariamente expressões Python. somente tags,
filtros e a sintaxe listada abaixo são suportados pelo padrão (embora você
possa adicionar :doc:<a href="#id1"><span class="problematic" id="id2">`</span></a>suas próprias extensões &lt;/howto/custom-template-tags&gt;
à linguagem de template caso seja necessário).</p>
</div>
<div class="section" id="s-templates">
<span id="templates"></span><h2>Templates<a class="headerlink" href="#templates" title="Permalink to this headline">¶</a></h2>
<p>Um template é simplesmente um arquivo de texto. Ele pode gerar qualquer formato
baseado em texto (HTML, XML, CSV, etc.).</p>
<p>Um template contém <strong>variáveis</strong>, que são substituídas com valores quando o
template é processado, e <strong>tags</strong>, que controlam a lógica do template.</p>
<p>Abaixo tem um template mínimo que ilustra coisas básicas. Cada elemento será
explanado depois neste documento.:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;base_generic.html&quot;</span> <span class="cp">%}</span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}{{</span> <span class="nv">section.title</span> <span class="cp">}}{%</span> <span class="k">endblock</span> <span class="cp">%}</span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span>
<span class="nt">&lt;h1&gt;</span><span class="cp">{{</span> <span class="nv">section.title</span> <span class="cp">}}</span><span class="nt">&lt;/h1&gt;</span>

<span class="cp">{%</span> <span class="k">for</span> <span class="nv">story</span> <span class="k">in</span> <span class="nv">story_list</span> <span class="cp">%}</span>
<span class="nt">&lt;h2&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;</span><span class="cp">{{</span> <span class="nv">story.get_absolute_url</span> <span class="cp">}}</span><span class="s">&quot;</span><span class="nt">&gt;</span>
    <span class="cp">{{</span> <span class="nv">story.headline</span><span class="o">|</span><span class="nf">upper</span> <span class="cp">}}</span>
  <span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/h2&gt;</span>
<span class="nt">&lt;p&gt;</span><span class="cp">{{</span> <span class="nv">story.tease</span><span class="o">|</span><span class="nf">truncatewords</span><span class="s2">:&quot;100&quot;</span> <span class="cp">}}</span><span class="nt">&lt;/p&gt;</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span>
</pre></div>
</div>
<div class="admonition-filosofia admonition ">
<p class="first admonition-title">Filosofia</p>
<p>Porque usar um template baseado em texto ao invés de um baseado em XML (
como o TAL do ZOPE)? Nós queremos que a linguagem de template do Django seja
usável para mais do que somente templates XML/HTML. No Mundo Online, nós
o usamos para e-mails, JavaScript e CSV. Você pode usar a linguagem de
template para qualquer formato baseado em texto.</p>
<p class="last">Oh, e uma coisa mais: Fazer humanos editarem XML é sadismo!</p>
</div>
</div>
<div class="section" id="s-variaveis">
<span id="variaveis"></span><h2>Variáveis<a class="headerlink" href="#variaveis" title="Permalink to this headline">¶</a></h2>
<p>Variáveis se parecem com isso: <tt class="docutils literal"><span class="pre">{{</span> <span class="pre">variável</span> <span class="pre">}}</span></tt>. Quando o motor de template
encontra uma variável, ele avalia aquela variável e a substitui pelo resultado.</p>
<p>Use um ponto (<tt class="docutils literal"><span class="pre">.</span></tt>) para acessar atributos de uma variável.</p>
<div class="admonition-por-tras-das-cenas admonition ">
<p class="first admonition-title">Por trás das cenas</p>
<p>Tecnicamente, quando o sistema de template encontra um ponto, ele tenta
seguir a seguinte pesquisa, nesta ordem:</p>
<div class="last highlight-html+django"><div class="highlight"><pre>* Acesso a dicionário
* Acesso a atributo
* Chamada de método
* Acesso a indíce de lista
</pre></div>
</div>
</div>
<p>No exemplo acima, <tt class="docutils literal"><span class="pre">{{</span> <span class="pre">section.title</span> <span class="pre">}}</span></tt> será substituído pelo atributo
<tt class="docutils literal"><span class="pre">title</span></tt> do objeto <tt class="docutils literal"><span class="pre">section</span></tt>.</p>
<p>Se você usa uma variável que não existe, o sistema de template inserirá o valor
da configuração <tt class="docutils literal"><span class="pre">TEMPLATE_STRING_IF_INVALID</span></tt>, que é configurada como <tt class="docutils literal"><span class="pre">''</span></tt>
(uma string vazia) por padrão.</p>
</div>
<div class="section" id="s-filtros">
<span id="filtros"></span><h2>Filtros<a class="headerlink" href="#filtros" title="Permalink to this headline">¶</a></h2>
<p>Você pode modificar variáveis para mostrá-las usando <strong>filtros</strong>.</p>
<p>Filtros se parecem com isso: <tt class="docutils literal"><span class="pre">{{</span> <span class="pre">name|lower</span> <span class="pre">}}</span></tt>. Isso mostra o valor da
variável <tt class="docutils literal"><span class="pre">{{</span> <span class="pre">name</span> <span class="pre">}}</span></tt> depois de ser filtrada através do filtro <tt class="docutils literal"><span class="pre">lower</span></tt>, que
converte o texto para minúsculo. Use um pipe (<tt class="docutils literal"><span class="pre">|</span></tt>) para aplicar um filtro.</p>
<p>Filtros podem ser &quot;aninhados.&quot; A saída do primeiro é aplicada no próximo.
<tt class="docutils literal"><span class="pre">{{</span> <span class="pre">text|escape|linebreaks</span> <span class="pre">}}</span></tt> é um idioma comum para escapar o conteúdo dos
textos, e então converter as quebras de linhas para tags <tt class="docutils literal"><span class="pre">&lt;p&gt;</span></tt>.</p>
<p>Alguns filtros recebem argumento. Um argumento de filtro se parece com isso:
<tt class="docutils literal"><span class="pre">{{</span> <span class="pre">bio|truncatewords:30</span> <span class="pre">}}</span></tt>. Ele mostrará as primeiras 30 palavras da
variável <tt class="docutils literal"><span class="pre">bio</span></tt>.</p>
<p>Argumentos de filtros que contém espaços devem ser posto entre aspas; por
exemplo, para unir uma lista com vírgulas e espaços você deverá usar
<tt class="docutils literal"><span class="pre">{{</span> <span class="pre">list|join:&quot;,</span> <span class="pre">&quot;</span> <span class="pre">}}</span></tt>.</p>
<p>O Django fornece por volta de 30 filtros nativos. Você pode ler tudo sobre eles
na <a class="reference internal" href="../ref/templates/builtins.html#ref-templates-builtins-filters"><em>referência de filtros nativos</em></a>.
Para ter uma prova do que tem disponível, aqui tem alguns dos filtros de
template mais comuns:</p>
<dl class="docutils">
<dt><a class="reference internal" href="../ref/templates/builtins.html#std:templatefilter-default"><tt class="xref std std-tfilter docutils literal"><span class="pre">default</span></tt></a></dt>
<dd><p class="first">Se uma variável é falsa ou vazia, use o dado default. Do contrário,
use o valor da variável</p>
<p>Por examplo:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{{</span> <span class="nv">value</span><span class="o">|</span><span class="nf">default</span><span class="s2">:&quot;nothing&quot;</span> <span class="cp">}}</span>
</pre></div>
</div>
<p class="last">Se <tt class="docutils literal"><span class="pre">value</span></tt> não for fornecido ou estiver vazio, a linha acima mostrará
&quot;<tt class="docutils literal"><span class="pre">nothing</span></tt>&quot;.</p>
</dd>
<dt><a class="reference internal" href="../ref/templates/builtins.html#std:templatefilter-length"><tt class="xref std std-tfilter docutils literal"><span class="pre">length</span></tt></a></dt>
<dd><p class="first">Retorna o comprimento do valor. Ele funciona para ambos strings e
listas;
Por examplo:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{{</span> <span class="nv">value</span><span class="o">|</span><span class="nf">length</span> <span class="cp">}}</span>
</pre></div>
</div>
<p class="last">Se <tt class="docutils literal"><span class="pre">value</span></tt> for <tt class="docutils literal"><span class="pre">['a',</span> <span class="pre">'b',</span> <span class="pre">'c',</span> <span class="pre">'d']</span></tt>, a saída será <tt class="docutils literal"><span class="pre">4</span></tt>.</p>
</dd>
<dt><a class="reference internal" href="../ref/templates/builtins.html#std:templatefilter-striptags"><tt class="xref std std-tfilter docutils literal"><span class="pre">striptags</span></tt></a></dt>
<dd><p class="first">Mostra todas as tags [X]HTML. Por examplo:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{{</span> <span class="nv">value</span><span class="o">|</span><span class="nf">striptags</span> <span class="cp">}}</span>
</pre></div>
</div>
<p class="last">Se <tt class="docutils literal"><span class="pre">value</span></tt> for <tt class="docutils literal"><span class="pre">&quot;&lt;b&gt;Joel&lt;/b&gt;</span> <span class="pre">&lt;button&gt;is&lt;/button&gt;</span> <span class="pre">a</span>
<span class="pre">&lt;span&gt;slug&lt;/span&gt;&quot;</span></tt>, a saída será <tt class="docutils literal"><span class="pre">&quot;Joel</span> <span class="pre">is</span> <span class="pre">a</span> <span class="pre">slug&quot;</span></tt>.</p>
</dd>
</dl>
<p>Novamente, estes são somente alguns poucos exemplo; veja a <a class="reference internal" href="../ref/templates/builtins.html#ref-templates-builtins-filters"><em>referência de
filtros nativos</em></a> para uma lista completa.</p>
<p>Você também pode criar seus próprios filtros de templates;  veja
<a class="reference internal" href="../howto/custom-template-tags.html"><em>Tags e filtros de template personalizados</em></a>.</p>
<div class="admonition-see-also admonition seealso">
<p class="first admonition-title">See also</p>
<p class="last">Django's admin interface can include a complete reference of all template
tags and filters available for a given site. See
<a class="reference internal" href="../ref/contrib/admin/admindocs.html"><em>The Django admin documentation generator</em></a>.</p>
</div>
</div>
<div class="section" id="s-tags">
<span id="tags"></span><h2>Tags<a class="headerlink" href="#tags" title="Permalink to this headline">¶</a></h2>
<p>Tags se parecem com isso: <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">tag</span> <span class="pre">%}</span></tt>. Tags snao mais complexas do que
variáveis: Algumas criam texto na saída, algumas controlam de fluxos executando
laços ou lógica, e algumas carregam informação externa para dentro do template
para ser usado por variáveis que surgirão.</p>
<p>Algumas tags necessitam de início e fim (i.e. <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">tag</span> <span class="pre">%}</span> <span class="pre">...</span> <span class="pre">conteúdo</span> <span class="pre">da</span> <span class="pre">tag</span>
<span class="pre">...</span> <span class="pre">{%</span> <span class="pre">endtag</span> <span class="pre">%}</span></tt>).</p>
<p>O Django vem acompanhado umas duas dezenas de tags de templates embutidas. Você
pode ler tudo sobre elas na <a class="reference internal" href="../ref/templates/builtins.html#ref-templates-builtins-tags"><em>referência de tags nativas</em></a>. Para ter uma prova do que tem disponível, aqui
estão algumas das tags mais comuns:</p>
<dl class="docutils">
<dt><a class="reference internal" href="../ref/templates/builtins.html#std:templatetag-for"><tt class="xref std std-ttag docutils literal"><span class="pre">for</span></tt></a></dt>
<dd><p class="first">Executa um laço sobre itens de um array. Por exemplo, para mostrar uma
lista de atletas em <tt class="docutils literal"><span class="pre">athlete_list</span></tt>:</p>
<div class="last highlight-html+django"><div class="highlight"><pre><span class="nt">&lt;ul&gt;</span>
<span class="cp">{%</span> <span class="k">for</span> <span class="nv">athlete</span> <span class="k">in</span> <span class="nv">athlete_list</span> <span class="cp">%}</span>
    <span class="nt">&lt;li&gt;</span><span class="cp">{{</span> <span class="nv">athlete.name</span> <span class="cp">}}</span><span class="nt">&lt;/li&gt;</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span>
<span class="nt">&lt;/ul&gt;</span>
</pre></div>
</div>
</dd>
<dt><a class="reference internal" href="../ref/templates/builtins.html#std:templatetag-if"><tt class="xref std std-ttag docutils literal"><span class="pre">if</span></tt></a> and <tt class="docutils literal"><span class="pre">else</span></tt></dt>
<dd><p class="first">Avalia se é uma variável, e se a variável é &quot;true&quot; os conteúdos do bloco
é mostrado:</p>
<div class="last highlight-html+django"><div class="highlight"><pre><span class="cp">{%</span> <span class="k">if</span> <span class="nv">athlete_list</span> <span class="cp">%}</span>
    Number of athletes: <span class="cp">{{</span> <span class="nv">athlete_list</span><span class="o">|</span><span class="nf">length</span> <span class="cp">}}</span>
<span class="cp">{%</span> <span class="k">else</span> <span class="cp">%}</span>
    No athletes.
<span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span>
</pre></div>
</div>
</dd>
</dl>
<dl class="docutils">
<dt>&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD</dt>
<dd><blockquote class="first">
<div><p>No código acima, se <tt class="docutils literal"><span class="pre">athlete_list</span></tt> não for vazio, o número de atletas
será mostrado pela variável <tt class="docutils literal"><span class="pre">{{</span> <span class="pre">athlete_list|lenght</span> <span class="pre">}}</span></tt>.</p>
<p>You can also use filters and various operators in the <tt class="docutils literal"><span class="pre">if</span></tt> tag:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{%</span> <span class="k">if</span> <span class="nv">athlete_list</span><span class="o">|</span><span class="nf">length</span> <span class="o">&gt;</span> <span class="m">1</span> <span class="cp">%}</span>
   Team: <span class="cp">{%</span> <span class="k">for</span> <span class="nv">athlete</span> <span class="k">in</span> <span class="nv">athlete_list</span> <span class="cp">%}</span> ... <span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span>
<span class="cp">{%</span> <span class="k">else</span> <span class="cp">%}</span>
   Athlete: <span class="cp">{{</span> <span class="nv">athlete_list.0.name</span> <span class="cp">}}</span>
<span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span>
</pre></div>
</div>
</div></blockquote>
<dl class="last docutils">
<dt><a class="reference internal" href="../ref/templates/builtins.html#std:templatetag-block"><tt class="xref std std-ttag docutils literal"><span class="pre">block</span></tt></a> and <a class="reference internal" href="../ref/templates/builtins.html#std:templatetag-extends"><tt class="xref std std-ttag docutils literal"><span class="pre">extends</span></tt></a></dt>
<dd>Configura <a class="reference internal" href="#heranca-de-template">herança de template</a> (veja abaixo), um recurso poderoso de
cortar o &quot;clichê&quot; em template.</dd>
</dl>
</dd>
</dl>
<p>Novamente, acima tivemos somente uma seleção de toda lista; veja a
<a class="reference internal" href="../ref/templates/builtins.html#ref-templates-builtins-tags"><em>referência de tags nativos</em></a> para uma lista
completa.</p>
<p>Você também pode criar suas próprios tags de template; veja
<a class="reference internal" href="../howto/custom-template-tags.html"><em>Tags e filtros de template personalizados</em></a>.</p>
<div class="admonition-see-also admonition seealso">
<p class="first admonition-title">See also</p>
<p class="last">Django's admin interface can include a complete reference of all template
tags and filters available for a given site. See
<a class="reference internal" href="../ref/contrib/admin/admindocs.html"><em>The Django admin documentation generator</em></a>.</p>
</div>
</div>
<div class="section" id="s-comentarios">
<span id="comentarios"></span><h2>Comentários<a class="headerlink" href="#comentarios" title="Permalink to this headline">¶</a></h2>
<p>Para comentar parte de uma linha num template, use a sintaxe de comentário:
<tt class="docutils literal"><span class="pre">{#</span> <span class="pre">#}</span></tt>.</p>
<p>Por exemplo, este template poderia renderizar como <tt class="docutils literal"><span class="pre">'hello'</span></tt>:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="c">{# greeting #}</span>hello
</pre></div>
</div>
<p>Um comentário pode conter qualquer código de template, inválido ou não.
Por examplo:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="c">{# {% if foo %}bar{% else %} #}</span>
</pre></div>
</div>
<p>Esta sintaxe pode somente ser usada para comentário de uma linha (nenhuma linha
nova é permitida entre os delimitadores <tt class="docutils literal"><span class="pre">{#</span></tt> e <tt class="docutils literal"><span class="pre">#}</span></tt>). Se você precisa
comentar uma porção de linhas de template, veja o tag <tt class="xref std std-ttag docutils literal"><span class="pre">coment</span></tt>.</p>
</div>
<div class="section" id="s-heranca-de-template">
<span id="s-template-inheritance"></span><span id="heranca-de-template"></span><span id="template-inheritance"></span><h2>Herança de template<a class="headerlink" href="#heranca-de-template" title="Permalink to this headline">¶</a></h2>
<p>A parte mais poderosa -- e também a mais complexa -- do motor de template
do Django é a herança de template. Herança de template permite você contruir
um template &quot;esqueleto&quot; que contém todos os elementos comuns do site e define
<strong>blocos</strong> que seus filhos podem sobrescrever.</p>
<p>É mais fácil de entender herança de template começando com um exemplo:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">&lt;!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Transitional//EN&quot;</span>
<span class="cp">    &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&quot;&gt;</span>
<span class="nt">&lt;html</span> <span class="na">xmlns=</span><span class="s">&quot;http://www.w3.org/1999/xhtml&quot;</span> <span class="na">xml:lang=</span><span class="s">&quot;en&quot;</span> <span class="na">lang=</span><span class="s">&quot;en&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;head&gt;</span>
    <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href=</span><span class="s">&quot;style.css&quot;</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;title&gt;</span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span>My amazing site<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="nt">&lt;/title&gt;</span>
<span class="nt">&lt;/head&gt;</span>

<span class="nt">&lt;body&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">&quot;sidebar&quot;</span><span class="nt">&gt;</span>
        <span class="cp">{%</span> <span class="k">block</span> <span class="nv">sidebar</span> <span class="cp">%}</span>
        <span class="nt">&lt;ul&gt;</span>
            <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;/&quot;</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
            <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;/blog/&quot;</span><span class="nt">&gt;</span>Blog<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="nt">&lt;/ul&gt;</span>
        <span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span>
    <span class="nt">&lt;/div&gt;</span>

    <span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">&quot;content&quot;</span><span class="nt">&gt;</span>
        <span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}{%</span> <span class="k">endblock</span> <span class="cp">%}</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>
</div>
<p>Este template, que nós chamaremos <tt class="docutils literal"><span class="pre">base.html</span></tt>, define um esqueleto simples de
um documento HTML que você pode usar para uma simples página em duas colunas.</p>
<p>Neste exemplo, a tag <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">block</span> <span class="pre">%}</span></tt> define três blocos que templates filhos
podem preenchê-los. Todas as tags <tt class="docutils literal"><span class="pre">block</span></tt> dizem ao motor de template que um
template filho podem sobrescrever partes de seu template.</p>
<p>Um template filho pode se parecer com isso:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;base.html&quot;</span> <span class="cp">%}</span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span>My amazing blog<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span>

<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span>
<span class="cp">{%</span> <span class="k">for</span> <span class="nv">entry</span> <span class="k">in</span> <span class="nv">blog_entries</span> <span class="cp">%}</span>
    <span class="nt">&lt;h2&gt;</span><span class="cp">{{</span> <span class="nv">entry.title</span> <span class="cp">}}</span><span class="nt">&lt;/h2&gt;</span>
    <span class="nt">&lt;p&gt;</span><span class="cp">{{</span> <span class="nv">entry.body</span> <span class="cp">}}</span><span class="nt">&lt;/p&gt;</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span>
</pre></div>
</div>
<p>A tag <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">extends</span> <span class="pre">%}</span></tt> é a chave aqui. Ela diz ao motor de template que este
template &quot;estende&quot; outro template. Quando o systema de template avalia este
template, primeiro ele localiza o pai -- neste case, &quot;base.html&quot;.</p>
<p>Neste ponto, o motor de template notificará as três tags <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">block</span> <span class="pre">%}</span></tt> no
<tt class="docutils literal"><span class="pre">base.html</span></tt> e substituirá seus blocos com conteúdos do template filho.
Dependendo do valor do <tt class="docutils literal"><span class="pre">blog_entries</span></tt>, a saída pode ficar assim:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">&lt;!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Transitional//EN&quot;</span>
<span class="cp">    &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&quot;&gt;</span>
<span class="nt">&lt;html</span> <span class="na">xmlns=</span><span class="s">&quot;http://www.w3.org/1999/xhtml&quot;</span> <span class="na">xml:lang=</span><span class="s">&quot;en&quot;</span> <span class="na">lang=</span><span class="s">&quot;en&quot;</span><span class="nt">&gt;</span>
<span class="nt">&lt;head&gt;</span>
    <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">href=</span><span class="s">&quot;style.css&quot;</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;title&gt;</span>My amazing blog<span class="nt">&lt;/title&gt;</span>
<span class="nt">&lt;/head&gt;</span>

<span class="nt">&lt;body&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">&quot;sidebar&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;ul&gt;</span>
            <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;/&quot;</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
            <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">&quot;/blog/&quot;</span><span class="nt">&gt;</span>Blog<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
        <span class="nt">&lt;/ul&gt;</span>
    <span class="nt">&lt;/div&gt;</span>

    <span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">&quot;content&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h2&gt;</span>Entry one<span class="nt">&lt;/h2&gt;</span>
        <span class="nt">&lt;p&gt;</span>This is my first entry.<span class="nt">&lt;/p&gt;</span>

        <span class="nt">&lt;h2&gt;</span>Entry two<span class="nt">&lt;/h2&gt;</span>
        <span class="nt">&lt;p&gt;</span>This is my second entry.<span class="nt">&lt;/p&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>
</div>
<p>Percebe que como o template filho não define o bloco <tt class="docutils literal"><span class="pre">sidebar</span></tt> o valor do
template pai é usado em seu lugar. Conteúdos dentro de uma tag <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">block</span> <span class="pre">%}</span></tt>
num template pai sempre será usado como reserva.</p>
<p>Você pode usar tantos níveis de herança quantos precisar. Uma forma comum de
usar herança é seguir a abordagem de três níveis:</p>
<ul class="simple">
<li>Criar um template <tt class="docutils literal"><span class="pre">base.html</span></tt> que mantem a cara principal do site.</li>
<li>Criar um template <tt class="docutils literal"><span class="pre">base_SECTIONNAME.html</span></tt> para cada &quot;seção&quot; de seu site.
Por exemplo, <tt class="docutils literal"><span class="pre">base_news.html</span></tt>, <tt class="docutils literal"><span class="pre">base_sports.html</span></tt>. Estes templates
todos estendem <tt class="docutils literal"><span class="pre">base.html</span></tt> e incluem estilos/design específicos da
seção.</li>
<li>Criar templates individuais para cada tipo de página, como num artigo de
notícia ou entrada de blog. Estes templates estendem o template da seção
apropriada.</li>
</ul>
<p>This approach maximizes code reuse and makes it easy to add items to shared
content areas, such as section-wide navigation.
Esta abordagem maximiza o reuso de código e torna mais fácil adicionar ítens
à áreas de conteúdo compartilhado, como num menu de navegação de uma seção.</p>
<p>Aqui tem algumas dicas para se trabalhar com herança:</p>
<ul>
<li><p class="first">Se você usar <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">extends</span> <span class="pre">%}</span></tt> num template, ele deve ser a primeira tag
deste template. A herança de template não funcionará, caso contrário.</p>
</li>
<li><p class="first">Quanto mais tags <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">block</span> <span class="pre">%}</span></tt> em seu template base melhor. Lembre-se,
templates filho não podem definir blocos nos pais, então você pode
preencher uma quantidade razoável de blocos padrão, e só então definir o
que você precisará mais tarde. É melhor ter mais hooks do que poucos
hooks.</p>
</li>
<li><p class="first">Se você se surpreender duplicando conteúdo em vários templates, é bem
provável que isso signifique que você deva morar este conteúdo para um
<tt class="docutils literal"><span class="pre">{%</span> <span class="pre">block</span> <span class="pre">%}</span></tt> no template pai.</p>
</li>
<li><p class="first">Se você precisa obter conteúdo de um bloco no template pai, a variável
<tt class="docutils literal"><span class="pre">{{</span> <span class="pre">block.super</span> <span class="pre">}}</span></tt> fará a mágica. Isso é útil se você deseja adicionar
conteúdos ao bloco pai ao invés de sobrescrevê-lo completamente. Dados
inseridos usando <tt class="docutils literal"><span class="pre">{{</span> <span class="pre">block.super</span> <span class="pre">}}</span></tt> não serão automaticamente escapado
(veja a <a class="reference external" href="#automatic-html-escaping">próxima seção</a>), uma vez que já será escapado, se necessário,
no template pai.</p>
</li>
<li><p class="first">Para facilitar a leitura extra, você pode opcionalmente dar um <em>nome</em> a
sua tag <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">endblock</span> <span class="pre">%}</span></tt>. Por exemplo:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span>
...
<span class="cp">{%</span> <span class="k">endblock</span> <span class="nv">content</span> <span class="cp">%}</span>
</pre></div>
</div>
<p>Em templates grandes, esta técnica ajuda você ver que as tags
<tt class="docutils literal"><span class="pre">{%</span> <span class="pre">block%}</span></tt> foram fechadas.</p>
</li>
</ul>
<p>Finalmente, note que você nnao pode definir várias tags <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">block</span> <span class="pre">%}</span></tt> com o
mesmo nome no mesmo template. Essa limitação existe porque uma tag de bloco
funciona em &quot;ambas&quot; direções. Isto é, uma tag de bloco não fornece apenas um
buraco para preencher -- ela também define o conteúdo que preenche o buraco no
<em>pai</em>. Se houver duas tags <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">block</span> <span class="pre">%}</span></tt> iguais num template, o seu pai não
saberá para qual delas é o conteúdo.</p>
</div>
<div class="section" id="s-escape-de-html-automatico">
<span id="s-automatic-html-escaping"></span><span id="escape-de-html-automatico"></span><span id="automatic-html-escaping"></span><h2>Escape de HTML automático<a class="headerlink" href="#escape-de-html-automatico" title="Permalink to this headline">¶</a></h2>
<div class="versionadded">
<span class="title">New in Django 1.0:</span> <a class="reference internal" href="../releases/1.0.html"><em>Please, see the release notes</em></a></div>
<p>Quando um HTML é gerado a partir de templates, sempre há o risco de uma variável
incluir caracteres que afetam o HTML resultante. Por exemplo, considere este
fragmento de template:</p>
<div class="highlight-html+django"><div class="highlight"><pre>Hello, <span class="cp">{{</span> <span class="nv">name</span> <span class="cp">}}</span>.
</pre></div>
</div>
<p>A primeira vista, isso parece uma forma inofensiva de mostar o nome do usuário,
mas considere o que poderia acontecer se o usuário colocasse seu nome desta
forma:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="nt">&lt;script&gt;</span><span class="nx">alert</span><span class="p">(</span><span class="s1">&#39;hello&#39;</span><span class="p">)</span><span class="nt">&lt;/script&gt;</span>
</pre></div>
</div>
<p>Com este valor, o template poderia ser renderizado como:</p>
<div class="highlight-html+django"><div class="highlight"><pre>Hello, <span class="nt">&lt;script&gt;</span><span class="nx">alert</span><span class="p">(</span><span class="s1">&#39;hello&#39;</span><span class="p">)</span><span class="nt">&lt;/script&gt;</span>
</pre></div>
</div>
<p>...o que significa que o navegador poderia mostrar uma caixa de alerta de
Javascript!</p>
<p>Semelhantemente, o que aconteceria se o nome tivesse um símbolo <tt class="docutils literal"><span class="pre">'&lt;'</span></tt>, tipo
isso?</p>
<blockquote>
<div>&lt;b&gt;username</div></blockquote>
<p>Isso poderia resultar num template renderizado desta forma:</p>
<div class="highlight-html+django"><div class="highlight"><pre>Hello, <span class="nt">&lt;b&gt;</span>username
</pre></div>
</div>
<p>...que, por sua vez, poderia resultar em todo conteúdo restante da página Web
negritado!</p>
<p>Claramente, não se deve confiar cegamente em dados submetidos por usuários e
inseri-los diretamente na sua página Web, pois um usuário malicioso poderia usar
este tipo de brecha para fazer coisas potencialmente ruins. Este tipo de
exploração de sergurança é chamada de ataque <a class="reference external" href="http://en.wikipedia.org/wiki/Cross-site_scripting">Cross Site Scripting</a> (XSS).</p>
<p>Para evitar este problema, você tem duas opções:</p>
<ul class="simple">
<li>Um, você pode assegurar-se de executar cada variável não confiável através
do filtro <tt class="docutils literal"><span class="pre">escape</span></tt> (documentado abaixo), que converte caracteres HTML
potencialmente prejudiciais para não prejudiciais. Essa foi uma solução
padrão no Django durante seus primeiros anos, mas o problema é que passa
o onus do problema a <em>você</em>, o desenvolvedor / autor de template, para
assegurar-se de escapar tudo. E é fácil esquecer de escapar dados.</li>
<li>Dois, você pode obter vantagem do escape de HTML automático do Django. O
restante desta seção descreve como auto-escaping trabalha.</li>
</ul>
<p>Por padrão no Django, todo template automaticamente escapa a saída de toda tag
de variável. Especialmente, estes cinco caracteres são escapados:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">&lt;</span></tt> é convertido para <tt class="docutils literal"><span class="pre">&amp;lt;</span></tt></li>
<li><tt class="docutils literal"><span class="pre">&gt;</span></tt> é convertido para <tt class="docutils literal"><span class="pre">&amp;gt;</span></tt></li>
<li><tt class="docutils literal"><span class="pre">'</span></tt> (aspas simples) é convertido para <tt class="docutils literal"><span class="pre">&amp;#39;</span></tt></li>
<li><tt class="docutils literal"><span class="pre">&quot;</span></tt> (aspas duplas) é convertido para <tt class="docutils literal"><span class="pre">&amp;quot;</span></tt></li>
<li><tt class="docutils literal"><span class="pre">&amp;</span></tt> é convertido para <tt class="docutils literal"><span class="pre">&amp;amp;</span></tt></li>
</ul>
<p>Novamente, ressaltamos que esse comportamento é ativado por padrão. Se você
estiver usando o sistema de template do Django , você está protegido.</p>
<div class="section" id="s-como-desliga-lo">
<span id="como-desliga-lo"></span><h3>Como desliga-lo<a class="headerlink" href="#como-desliga-lo" title="Permalink to this headline">¶</a></h3>
<p>Se você não deseja que os dados sejam escapados automaticamente, ou um por site,
por nível de template ou por nível de variável, você pode desligá-lo de várias
formas.</p>
<p>Por que você gostaria de desligá-lo? Porque as vezes, as variáveis de templates
contém dados que você <em>pretende</em> renderizar como HTML puro, nestes casos você
nnao deseja que seus conteúdos sejam escapados. Por exemplo, você pode
armazenar um arquivo HTML em seu banco de dados e desejar mostrá-lo diretamente
dentro do template. Ou, você pode usar o sistema de template do Django para
produzir texto que <em>não</em> é HTML -- como uma mensagem de email, por exemplo.</p>
<div class="section" id="s-para-valores-individuais">
<span id="para-valores-individuais"></span><h4>Para valores individuais<a class="headerlink" href="#para-valores-individuais" title="Permalink to this headline">¶</a></h4>
<p>Para desabilitar o escape atual para uma variável individual, use o filtro
<tt class="docutils literal"><span class="pre">safe</span></tt>:</p>
<div class="highlight-html+django"><div class="highlight"><pre>Isto será escapado: <span class="cp">{{</span> <span class="nv">data</span> <span class="cp">}}</span>
Isto não será escapado: <span class="cp">{{</span> <span class="nv">data</span><span class="o">|</span><span class="nf">safe</span> <span class="cp">}}</span>
</pre></div>
</div>
<p>Pense <em>seguro</em> como uma abreviação de <em>seguro por um escape</em> ou <em>pode ser
seguramente interpretado como HTML</em>. Neste exemplo, se <tt class="docutils literal"><span class="pre">data</span></tt> contém
<tt class="docutils literal"><span class="pre">'&lt;b&gt;'</span></tt>, a saída será:</p>
<div class="highlight-html+django"><div class="highlight"><pre>Isto será escapado: <span class="ni">&amp;lt;</span>b<span class="ni">&amp;gt;</span>
Isto não será escapado: <span class="nt">&lt;b&gt;</span>
</pre></div>
</div>
</div>
<div class="section" id="s-para-blocos-de-template">
<span id="para-blocos-de-template"></span><h4>Para blocos de template<a class="headerlink" href="#para-blocos-de-template" title="Permalink to this headline">¶</a></h4>
<p>O controle do escape automático para um template, envolve o template (ou somente
uma seção particular do template) dentro da tag <tt class="docutils literal"><span class="pre">autoescape</span></tt>, desta forma:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{%</span> <span class="k">autoescape</span> <span class="nv">off</span> <span class="cp">%}</span>
    Hello <span class="cp">{{</span> <span class="nv">name</span> <span class="cp">}}</span>
<span class="cp">{%</span> <span class="k">endautoescape</span> <span class="cp">%}</span>
</pre></div>
</div>
<p>A tag <tt class="docutils literal"><span class="pre">autoescape</span></tt> recebe tanto <tt class="docutils literal"><span class="pre">on</span></tt> quanto <tt class="docutils literal"><span class="pre">off</span></tt> como seu argumento. Às
vezes, você pode querer forçar o auto escape quando ela poderia estar
desativada. Aqui tem um template de exemplo:</p>
<div class="highlight-html+django"><div class="highlight"><pre>Auto-escaping is on by default. Hello <span class="cp">{{</span> <span class="nv">name</span> <span class="cp">}}</span>

<span class="cp">{%</span> <span class="k">autoescape</span> <span class="nv">off</span> <span class="cp">%}</span>
    Isso não será escapado automaticamente: <span class="cp">{{</span> <span class="nv">data</span> <span class="cp">}}</span>.

    Isso não: <span class="cp">{{</span> <span class="nv">other_data</span> <span class="cp">}}</span>
    <span class="cp">{%</span> <span class="k">autoescape</span> <span class="nv">on</span> <span class="cp">%}</span>
        Auto escape aplicado novamente: <span class="cp">{{</span> <span class="nv">name</span> <span class="cp">}}</span>
    <span class="cp">{%</span> <span class="k">endautoescape</span> <span class="cp">%}</span>
<span class="cp">{%</span> <span class="k">endautoescape</span> <span class="cp">%}</span>
</pre></div>
</div>
<p>A tag auto escape passa seu efeito dentro dos tempaltes que extendem o atual
bem como templates inclusos via tag <tt class="docutils literal"><span class="pre">include</span></tt>, exatamente como todas as tags
de bloco. Por exemplo:</p>
<div class="highlight-html+django"><pre># base.html

{% autoescape off %}
&lt;h1&gt;{% block title %}{% endblock %}&lt;/h1&gt;
{% block content %}
{% endblock %}
{% endautoescape %}


# child.html

{% extends "base.html" %}
{% block title %}This &amp; that{% endblock %}
{% block content %}{{ greeting }}{% endblock %}</pre>
</div>
<p>Pelo auto escape estar desligado no template base, ele também estará desligado
no template filho, resultando no seguinte HTML renderizado quando a variável
<tt class="docutils literal"><span class="pre">greeting</span></tt> contiver a string <tt class="docutils literal"><span class="pre">&lt;b&gt;Hello!&lt;/b&gt;</span></tt>:</p>
<div class="highlight-html+django"><pre>&lt;h1&gt;This &amp; that&lt;/h1&gt;
&lt;b&gt;Hello!&lt;/b&gt;</pre>
</div>
</div>
</div>
<div class="section" id="s-notas">
<span id="notas"></span><h3>Notas<a class="headerlink" href="#notas" title="Permalink to this headline">¶</a></h3>
<p>Geralmente, autores de template não precisam se preocupar muito com auto escape.
Desenvolvedores do lado do Python (pessoas escrevendo views e filtros) precisam
pensar sobre os casos em que os dados não devem ser escapados, e marcar os dados
apropriadamente, só assim as Coisas Funcionam no template.</p>
<p>Se você estiver criando um template que pode ser usado em situações onde você
não tem certeza de que o auto-escape está ativo, então adicione o filtro
<tt class="docutils literal"><span class="pre">escape</span></tt> em qualquer variável que precise ser escapada. Quando o auto escape
está ativo, não há perigo do filtro <tt class="docutils literal"><span class="pre">escape</span></tt> escapar duas vezes os dados -- o
filtro <tt class="docutils literal"><span class="pre">escape</span></tt> não afeta variáveis auto escapadas.</p>
</div>
<div class="section" id="s-literais-de-string-e-escape-automatico">
<span id="literais-de-string-e-escape-automatico"></span><h3>Literais de string e escape automático<a class="headerlink" href="#literais-de-string-e-escape-automatico" title="Permalink to this headline">¶</a></h3>
<p>Como mensionamos anteriormente, argumentos de filtros podem ser strings:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{{</span> <span class="nv">data</span><span class="o">|</span><span class="nf">default</span><span class="s2">:&quot;Este é um literal string.&quot;</span> <span class="cp">}}</span>
</pre></div>
</div>
<p>Todo literal de string é inserido <strong>sem</strong> qualquer escape automático dentro do
template -- eles agem como se fossem todos passados através do filtro <tt class="docutils literal"><span class="pre">safe</span></tt>.
A razão por trás disso é que os autores de templates estão no controle do
que vai dentro da string, então eles podem estar certos de que o texto está
corretamente escapado quando o template foi escrito.</p>
<p>Isso significa que você poderia escrever</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{{</span> <span class="nv">data</span><span class="o">|</span><span class="nf">default</span><span class="s2">:&quot;3 &amp;lt; 2&quot;</span> <span class="cp">}}</span>
</pre></div>
</div>
<p>...ao invés de</p>
<div class="highlight-html+django"><pre>{{ data|default:"3 &lt; 2" }}  &lt;-- Bad! Don't do this.</pre>
</div>
<p>Isso não afeta o que acontece com os dados vindos da variável em si. Os
conteúdos da variável ainda serão automaticamente escapados, se necessário,
pois eles estão além do controle do autor.</p>
</div>
</div>
<div class="section" id="s-bibliotecas-de-tags-e-filtros-personalizados">
<span id="s-loading-custom-template-libraries"></span><span id="bibliotecas-de-tags-e-filtros-personalizados"></span><span id="loading-custom-template-libraries"></span><h2>Bibliotecas de tags e filtros personalizados<a class="headerlink" href="#bibliotecas-de-tags-e-filtros-personalizados" title="Permalink to this headline">¶</a></h2>
<p>Certas aplicaçõoes fornecem bibliotecas com tags e filtros personalizados. Para
acessá-los no seu template, use a tag <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">load</span> <span class="pre">%}</span></tt>:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{%</span> <span class="k">load</span> <span class="nv">comments</span> <span class="cp">%}</span>

<span class="cp">{%</span> <span class="k">comment_form</span> <span class="nv">for</span> <span class="nv">blogs.entries</span> <span class="nv">entry.id</span> <span class="k">with</span> <span class="nv">is_public</span> <span class="nv">yes</span> <span class="cp">%}</span>
</pre></div>
</div>
<p>Acima, a tag <tt class="docutils literal"><span class="pre">load</span></tt> carrega a biblioteca de tags <tt class="docutils literal"><span class="pre">comments</span></tt>, que torna a tag
<tt class="docutils literal"><span class="pre">comment_form</span></tt> disponível para uso. Consulte a área de documentação no seu
admin para encontrar a lista de bibliotecas personalizadas na sua instalação.</p>
<p>A tag <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">load</span> <span class="pre">%}</span></tt> pode receber vários nomes de bibliotecas, separados por
espaços. Exemplo:</p>
<div class="highlight-html+django"><div class="highlight"><pre><span class="cp">{%</span> <span class="k">load</span> <span class="nv">comments</span> <span class="nv">i18n</span> <span class="cp">%}</span>
</pre></div>
</div>
<p>See <a class="reference internal" href="../howto/custom-template-tags.html"><em>Tags e filtros de template personalizados</em></a> for information on writing your own custom
template libraries.</p>
<p>Veja <a class="reference internal" href="../howto/custom-template-tags.html"><em>Tags e filtros de template personalizados</em></a> para informações sobre como escrever suas
próprias bibliotecas de template.</p>
<div class="section" id="s-bibliotecas-personalizadas-e-heranca-de-template">
<span id="bibliotecas-personalizadas-e-heranca-de-template"></span><h3>Bibliotecas personalizadas e herança de template<a class="headerlink" href="#bibliotecas-personalizadas-e-heranca-de-template" title="Permalink to this headline">¶</a></h3>
<p>Quando você carrega uma biblioteca de tag ou filtro personalizado, as
tags/filtros estão disponíveis somente para o template atual -- não para
qualquer pai ou filho ao longo do caminho da herança de template.</p>
<p>Por exemplo, se um template <tt class="docutils literal"><span class="pre">foo.html</span></tt> tem <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">load</span> <span class="pre">comments</span> <span class="pre">%}</span></tt>, um
template filho (e.g., um que tenha <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">extends</span> <span class="pre">&quot;foo.html&quot;</span> <span class="pre">%}</span></tt>) <em>não</em> terá
acesso às tags e filtros comments. O template filho é responsável pelo seu
próprio <tt class="docutils literal"><span class="pre">{%</span> <span class="pre">load</span> <span class="pre">comments</span> <span class="pre">%}</span></tt>.</p>
<p>Este é um recurso em prol da manutenção e sanidade.</p>
</div>
</div>
</div>


          </div>         
        </div>
      </div>
      
        
          <div class="yui-b" id="sidebar">
            
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../contents.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">A linguagem de template do Django</a><ul>
<li><a class="reference internal" href="#templates">Templates</a></li>
<li><a class="reference internal" href="#variaveis">Variáveis</a></li>
<li><a class="reference internal" href="#filtros">Filtros</a></li>
<li><a class="reference internal" href="#tags">Tags</a></li>
<li><a class="reference internal" href="#comentarios">Comentários</a></li>
<li><a class="reference internal" href="#heranca-de-template">Herança de template</a></li>
<li><a class="reference internal" href="#escape-de-html-automatico">Escape de HTML automático</a><ul>
<li><a class="reference internal" href="#como-desliga-lo">Como desliga-lo</a><ul>
<li><a class="reference internal" href="#para-valores-individuais">Para valores individuais</a></li>
<li><a class="reference internal" href="#para-blocos-de-template">Para blocos de template</a></li>
</ul>
</li>
<li><a class="reference internal" href="#notas">Notas</a></li>
<li><a class="reference internal" href="#literais-de-string-e-escape-automatico">Literais de string e escape automático</a></li>
</ul>
</li>
<li><a class="reference internal" href="#bibliotecas-de-tags-e-filtros-personalizados">Bibliotecas de tags e filtros personalizados</a><ul>
<li><a class="reference internal" href="#bibliotecas-personalizadas-e-heranca-de-template">Bibliotecas personalizadas e herança de template</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h3>Browse</h3>
  <ul>
    
      <li>Prev: <a href="forms/media.html">Form Media</a></li>
    
    
      <li>Next: <a href="class-based-views.html">Class-based generic views</a></li>
    
  </ul>
  <h3>Você está aqui:</h3>
  <ul>
      <li>
        <a href="../index.html">Django v1.3.1 documentation</a>
        
          <ul><li><a href="index.html">Usando o Django</a>
        
        <ul><li>A linguagem de template do Django</li></ul>
        </li></ul>
      </li>
  </ul>  

  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/topics/templates.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
              <h3>Última atualização:</h3>
              <p class="topless">Dec 25, 2011</p>
          </div> 
        
      
    </div>
    
    <div id="ft">
      <div class="nav">
    &laquo; <a href="forms/media.html" title="Form Media">previous</a> 
     |
    <a href="index.html" title="Usando o Django" accesskey="U">up</a>
   |
    <a href="class-based-views.html" title="Class-based generic views">next</a> &raquo;</div>
    </div>
  </div>

      <div class="clearer"></div>
    </div>
  </body>
</html>